<div class="jumbotron">
  <h1><%= @restaurant.name %></h1>
  <div class="row">
    <div class="col-sm-8">
      <h2>Dietary Preferences Accomodated Here</h2>
      <ul>
        <% @restaurant.diet_prefs.each do |pref| %>
          <li>
            <a href="/dietary-preferences/<%= pref.slug %>">
              <%= pref.name %>
            </a>
          </li>
        <% end %>
      </ul>

      <h2>Address</h2>
      <p><%= @restaurant.address %></p>
      <p>Added by <%= @restaurant.user.username %></p>
    </div>

    <div class="col-sm-4">
      <% if logged_in? %>
        <h4>
          <a href="/users/<%= current_user.slug %>">
            See your restaurants
          </a>
        </h4>
      <% end %>
      <h4>
        <a href="/restaurants">
          See all restaurants by name
        </a>
      </h4>
      <h4>
        <a href="/dietary-preferences">
          Find restaurants by dietary preference
        </a>
      </h4>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <% if logged_in? %>
    <form action="/logout" method="post">
      <input type="submit" value="Log Out" class="btn btn-outline-secondary" type="button">
    </form>
  <% else %>
    <a href="/login" class="btn btn-outline-primary" role="button">
      Log In
    </a>
  <% end %>
</div>
