<div class="jumbotron">
  <h1>Welcome to Dineable!</h1>
  <h2>Find and add restaurants that accomodate your dietary preferences and needs.</h2>
    <div class="row pad-30">
      <div class="col-sm-6">
        <a href="/signup" class="btn btn-primary" role="button">
          Sign Up
        </a>
      </div>
      <div class="col-sm-6">
        <a href="/login" class="btn btn-outline-secondary" role="button">
          Log In
        </a>
      </div>
    </div>

</div>

<div class="row">
  <% unless Restaurant.all.empty? %>
    <div class="col-sm-6">
      <h3>Find restaurants by dietary preference:</h3>
      <ul>
        <% @diets = DietPref.all.sort_by {|d| d.name} %>
        <% @diets.each do |diet| %>
          <li>
            <a href="/dietary-preferences/<%= diet.slug %>">
              <%= diet.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% unless Restaurant.all.empty? %>
    <div class="col-sm-6">
      <h3>Check out the latest restaurant:</h3>
      <% @rest = Restaurant.last %>
      <h3>
        <a href="/restaurants/<%= @rest.slug %>">
          <%= @rest.name %>
        </a>
      </h3>
      <p>Good for:</p>
      <ul>
        <% @rest.diet_prefs.each do |pref| %>
          <li>
            <a href="/dietary-preferences/<%= pref.slug %>">
              <%= pref.name %>
            </a>
          </li>
        <% end %>
      </ul>
      <p>
        Address: <%= @rest.address %>
        <br>
        Added by <%= @rest.user.username %>
      </p>
      <p>
        <a href="/restaurants">
          See More >
        </a>
      </p>
    </div>
  <% end %>
</div>
