<div class="jumbotron">
  <h1>Welcome to Dineable!</h1>
  <h2>Find and add restaurants that accomodate your dietary preferences and needs.</h2>

    <div class="col-6-md">
      <a href="/signup" class=".btn .btn-primary" role="button">
        Sign Up
      </a>
    </div>
    <div class="col-6-md">
      <a href="/login" class=".btn .btn-primary" role="button">
        Log In
      </a>
    </div>

</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Find restaurants by dietary preference:</h3>
    <ul>
      <% @diets = DietPref.all.sort {|d| d.name} %>
      <% @diets.each do |diet| %>
        <li>
          <a href="/<%= diet.slug %>">
            <%= diet.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3>Check out current restaurants:</h3>
    <% @rest = Restaurant.last %>
    <p>
      <a href="/<%= @rest.slug %>">
        <%= @rest.name %>
      </a>
      <br>
      <%= @rest.address %>
      <br>
      Added by <%= @rest.user %>
    </p>
    <p>
      <a href="/restaurants">
        See More
      </a>
    </p>
  </div>
</div>
